# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore code editor options
.vscode
.idea

# Ignore audio files
app/src/main/resources/*.wav
app/src/main/resources/*.mp3